:root {
  /* -------------- General Theme Colors ---------------- */

  --primary: #00ff00;
  --secondary: #00DF00;
  --accent: #fcfc03;
  --lightAccent: #fcfdc7;
  --tertiary: #9ba885;
  --darkBackground: #11140c;
  --success: #219653;
  --danger: #d34053;
  --warning: #ffa70b;

  /* -------------- Neon Theme Colors ---------------- */
  --color-btn-primary: #4cc9ff;
  --color-btn-secondary: #00DF00;
  --color-btn-accent: #f038ff;
  --color-btn-tertiary: #00ff00;
  --color-btn-main: #f8f32b;
  --color-red: #ff2b2b;
  --color-blue: #2b2bff;
  --color-black: #000000;
  --color-white: #ffffff;
}

.logo {
  padding: 10px 20px;
  clip-path: polygon(20px 0,
      100% 0,
      100% 50%,
      calc(100% - 20px) 100%,
      0 100%,
      0 50%);
  color: #f8f32b;
  border: 2px solid #f8f32b;
}

.logo:hover {
  color: var(--accent);
  cursor: pointer;
  text-shadow: 0 0 10px var(--color-white),
    /* First layer of shadow */
    0 0 5px rgba(246, 255, 0, 0.6),
    /* Second layer */
    0 0 10px rgba(242, 255, 0, 0.6),
    /* Third layer */
    0 0 20px rgba(208, 255, 0, 0.6),
    /* Fourth layer */
    0 0 25px rgba(212, 255, 0, 0.6),
    /* Fifth layer */
    0 0 80px rgba(212, 255, 0, 0.6);
  /* Sixth layer */
  transition: box-shadow 0.3s ease;
  border: 2px solid var(--accent);
}
