/* ------------------- All of these are experimental styles features - NOTE TO SELF */

#gasses {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
#gasses > * {
  margin: 2rem;
}

.gas {
  --blur: 1.75rem;
  --box-blur: calc(0.5 * var(--blur));
  --glow: var(--color);
  --size: 12rem;
  box-shadow: inset 0 0 0 2px rgba(0, 0, 0, 0.15), 0 0 0 2px rgba(0, 0, 0, 0.15),
    inset 0 0 var(--box-blur) var(--glow), 0 0 var(--box-blur) var(--glow);
  color: var(--color, white);
}

.gas.he {
  --color: #fceaac;
  filter: saturate(175%);
}
.gas.ne {
  --color: #fda802;
  filter: brightness(110%);
}
.gas.ar {
  --color: #e555c7;
  filter: brightness(125%);
}
.gas.kr {
  --color: #b7e7f7;
  filter: saturate(200%);
}
.gas.xe {
  --color: #c4c4c6;
  filter: brightness(105%);
}

/* Create pseudo elements for both elements */
.text-effect-wrapper,
.text {
  &::before,
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    pointer-events: none;
  }
}

.text-effect-wrapper {
  /* Can be anything light-colored */
  --spotlight-color: white;

  overflow: hidden;
  position: relative;

  /* Shimmer animation */
  &::before {
    animation: shimmer 5s infinite linear;
    background: radial-gradient(circle, var(--spotlight-color), transparent 25%)
        0 0 / 25% 25%,
      radial-gradient(circle, var(--spotlight-color), black 25%) 50% 50% / 12.5%
        12.5%;
    inset-block-start: -100%;
    inset-inline-start: -100%;
    mix-blend-mode: color-dodge;
    z-index: 3;
  }

  /* Extra filter to boost colors and contrast */
  &::after {
    backdrop-filter: blur(1px) brightness(90%) contrast(150%);
    z-index: 4;
  }
}

@keyframes shimmer {
  100% {
    transform: translate3d(50%, 50%, 0);
  }
}

.text {
  /* Mask colors */
  /* Should be black and white */
  --background-color: black;
  --text-color: white;

  /* Text color */
  /* Can be anything */
  --color-1: red;
  --color-2: blue;

  /* Fuzzy white outline text */
  color: transparent;
  text-shadow: 0 0 0.02em var(--background-color), 0 0 0.02em var(--text-color),
    0 0 0.02em var(--text-color), 0 0 0.02em var(--text-color);

  /* Improve contrast of outline */
  &::before {
    backdrop-filter: blur(0.013em) brightness(400%);
    z-index: 1;
  }

  /* Add text color */
  &::after {
    background: linear-gradient(45deg, var(--color-1), var(--color-2));
    mix-blend-mode: multiply;
    z-index: 2;
  }
}
